.flashcard-context-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;

  label {
    display: inline-block;
    margin-bottom: 0.5rem;
  }
  .save-button {
    margin-top: auto;
  }
}
.title {
  color: var(--accent-white);
  font-size: 1.4rem;
  font-weight: 700;
}
