.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.user-profile-page {
  margin: 2rem auto;
  padding: 0.5rem;
  width: 100%;
  max-width: 1200px;

  &.error-state{
    max-width: 450px;
    margin: 2rem auto;
    text-align: center;

    p{
      font-weight: 500;
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
  }

  .back-link {
    color: var(--accent-white);
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    opacity: 0.7;
    font-size: 0.95rem;
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        opacity: 1;
        transform: translateX(-5px);
      }
    }
  }
  .private-placeholder {
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    background-color: color-mix(in srgb, var(--error-color) 10%, transparent);
    border: 1px solid
      color-mix(in srgb, var(--error-color) 30%, transparent);
    color: var(--error-text);
    padding: 4rem 1.25rem;
    margin: 1rem 0 1.5rem;
  }
  .profile-header {
    display: flex;
    align-items: center;
    background: var(--component-bg);
    border: 1px solid var(--component-border);
    padding: 2.5rem;
    margin: 1rem 0 1.5rem;
    border-radius: 1.25rem;
    position: relative;
    gap: 2.5rem;

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }
  .profile-user-name {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.75rem;
    word-break: break-all;
    color: var(--accent-white);
  }
  .to-sets-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: var(--component-bg);
    border: 1px solid var(--component-border);
    padding: 1.5rem 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;

    font-size: 1.2rem;
    font-weight: 600;
    color: var(--accent-white);

    @media (max-width: 600px) {
      font-size: 1.4rem;
      padding: 1.5rem;
    }

    &__label {
      flex-grow: 1;

      display: flex;
      align-items: baseline;
    }
    span {
      font-size: 0.85rem;
      padding: 0 0.5rem;
      opacity: 0.6;
    }
  }
}
