.sets-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  gap: 1.625rem;
  width: 100%;
  margin-bottom: 2.5rem;
  
  &--fetching {
  opacity: 0.6;
  pointer-events: none;
  transition: opacity 0.15s ease;
}
}
.grid-status-message {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 4rem 1rem;
  color: var(--accent-white);
  text-align: center;

  &.empty-state {
    .empty-icon {
      color: var(--accent-white);
      opacity: 0.4;
      margin-bottom: 5px;
    }
    p {
      max-width: 25rem;
    }
  }
}
