# Build
bin/
obj/
# IDE
.vs/
.idea/
# User files
*.user*.suo
# Logs
*.log
# ASP.NETwwwroot/lib/
wwwroot/node_modules/
# Secrets 
/ env.env
.env.*
appsettings.Development.json
secrets.json
# Publish
publish/
# OS
.DS_StoreThumbs.db
# Performance and test reports
html-report/
optimization-traces/