.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: color-mix(in srgb, var(--bg-color) 70%, black);
  padding: 3rem 1.5rem 2rem;
  border-radius: 8px;
  border: 1px solid var(--square-color-2);
  min-width: 35vw;
  min-height: 60vh;
  max-width: 60vw;
  max-height: 95vh;
  @media (max-width: 1024px) {
    max-width: 75vw;
  }
  @media (max-width: 768px) {
    max-width: 90vw;
  }
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  animation: fadeIn 0.5s ease-out;
  overflow: auto;
}

.close-btn {
  position: absolute;
  top: 1.25rem;
  right: 1.5rem;
  cursor: pointer;
  border: none;
  color: var(--square-color-2);
  background: transparent;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
