.container {
  height: 100vh;

  .content-area {
    padding: 2rem;
    padding-left: 18.5rem; //for header
    padding-top: 1.25rem;

    @media (max-width: 1024px) {
      padding-left: 17rem;
    }

    @media (max-width: 950px) {
      padding: 1.25rem;
      padding-top: 9rem; // for header
    }
  }
}
