html{
  @media (max-width: 425px) {
    font-size: 0.9375rem;
  }
}
.auth-body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--bg-color), var(--accent-purple));
}

.auth-card {
  background: #ffffff08;
  backdrop-filter: blur(15px);
  border: 1px solid #f0ffff1a;
  padding: 2rem 2.25rem;
  margin: 0 1rem;
  border-radius: 1.6rem;
  width: 100%;
  max-width: 25rem;
  box-shadow: 0 1.25rem 3.125rem rgba(0, 0, 0, 0.5);
  text-align: center;

  @media (max-width: 425px) {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .title {
    color: var(--accent-white);
    margin-bottom: 1.3rem;
    font-size: 1.6rem;
    font-weight: 700;
  }

  input {
    width: 100%;
    background: var(--bg-color);
    border: 1px solid var(--square-color-2);
    color: white;
    font-size: 0.9rem;
    padding: 0.7rem;
    padding-right: 2.5rem;
    border-radius: 0.6rem; 
    outline: none;
    transition: 0.3s;
    
    &:focus {
      border-color: var(--accent-white);
    }
    &[readonly] {
        opacity: 0.5;
        cursor: not-allowed;
        border-style: dashed;
    }
    &.error-input {
      border-color: var(--error-color);
    }
  }
}

.form-group {
  margin-bottom: 1rem;
  position: relative;
}

.btn-auth {
  width: 100%;
  background: var(--accent-color);
  color: white;
  padding: 0.8rem 2rem; 
  border-radius: 0.6rem; 
  font-weight: bold;
  margin-top: 0.6rem;
  transition: 0.3s;
  font-size: 1rem;
  border: none;

  @media (hover: hover) and (pointer: fine) {
    &:hover:not(:disabled) {
      background: var(--accent-white);
      color: var(--bg-color);
      transform: translateY(-2px);
    }
  }
  
  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0.8rem 0;
  opacity: 0.4;
  font-size: 0.8rem;

  &::before, &::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  &::before { margin-right: 0.5em; }
  &::after { margin-left: 0.5em; }
}

.auth-footer {
  text-align: center;
  margin-top: 1.25rem; 
  font-size: 0.85rem; 
  opacity: 0.6;

  a {
    color: var(--accent-white);
    text-decoration: none;
    font-weight: bold;
    
    &:hover {
      text-decoration: underline;
    }
  }
}