.card-tile {
  position: relative;
  color: var(--accent-white);
  background-color: color-mix(in srgb, var(--accent-color) 10%, transparent);
  border: 1px solid color-mix(in srgb, var(--square-color-2) 30%, transparent);
  border-radius: 0.75rem;
  padding: 1.5rem;
  min-height: 140px;
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
  transition: all 0.3s ease;

  &__term-row {
    display: flex;
    justify-content: start;
    align-items: start;
    column-gap: 0.5rem;
    padding-right: 1.5rem;
  }
  h3 {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: var(--accent-white);
  }

  &__divider {
    height: 1px;
    background: rgba(240, 255, 255, 0.1);
    border: none;
  }

  p {
    margin: 0;
    line-height: 1.4;
  }
}
