.password-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.toggle-password {
  position: absolute;
  right: 0.75rem; 
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  user-select: none;
  color: var(--text-color);

  &:hover {
    color: var(--accent-white);
  }
}